:root>* {

    --md-footer-bg-color: white;
    --md-footer-fg-color: rgb(32, 32, 32);
    --md-footer-bg-color--dark: white;
    --md-footer-fg-color--lighter:  rgb(32, 32, 32);
    --md-footer-fg-color--light:  rgb(32, 32, 32);
    --mdc-typography-headline6-font-family: 'Poppins', sans-serif;
    --mdc-typography-font-family: 'Poppins', sans-serif;
    --md-typeset-a-color:#384444 ;
    --md-typeset-a-font-weight: bold;

}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

:root {
  --md-primary-fg-color:        #384444;
  --md-primary-fg-color--light: #6efbbf;
  --md-primary-fg-color--dark:  #0c453aff;
}

.background-container {
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Esto ajusta la altura al 100% del viewport */
}