:root>* {

    --md-footer-bg-color: none;
    --md-footer-fg-color: rgb(32, 32, 32);
    --md-footer-bg-color--dark:#59C999;
    --md-footer-fg-color--lighter:  rgb(32, 32, 32);
    --md-footer-fg-color--light:  rgb(32, 32, 32);
    --mdc-typography-headline6-font-family: 'Poppins', sans-serif;
    --mdc-typography-font-family: 'Poppins', sans-serif;
    --md-typeset-a-color:#282826 ;
    --md-typeset-a-font-weight: bold;

}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: bold;
    color: #59C999; /* Color destacado */
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

/* Estilo para el texto destacado */
.highlight {
  font-weight: bold; /* Texto en negrita */
}
.md-main{
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fondo estático */
  padding-bottom: 20%;
}

.md-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

:root {
  --md-primary-fg-color:        #282826;
  --md-primary-fg-color--light: #59C999;
  --md-primary-fg-color--dark:  #282826;
}

/* ----------------------------- */ 

/* Contenedor principal */
.container_about {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Estilos del div izquierdo */
.left-div {
  flex: 1;
  padding-right: 20px;
}

/* Estilo para el botón dentro del div izquierdo */
.left-div button {
  width: 126px;
  height: 42px;
  background: #59C999;
  border-radius: 26px;
  opacity: 1;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambio de color al pasar el ratón por el botón */
.left-div button:hover {
  background-color: #282826;
}

/* Estilos del div derecho */
.right-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Estilo para la imagen dentro del div derecho */
.right-div img {
  max-width: 100%;
  max-height: 100%;
  
}

/* Contenedor de la imagen y el texto */
.image-container {
  position: relative;
}

/* Estilo para la imagen dentro del contenedor */
.image-container img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-container p {
  font-size: 12px;
}

/* Estilo para el texto al lado de la imagen */
.image-text {
  padding: 10px;
  text-align: left;
}
/* ----------------------------- */ 


/* Media query para dispositivos móviles */
 @media screen and (max-width: 768px) {
  .container_about {
    flex-direction: column;
  }

  .left-div {
    padding-right: 0;
  }

  .left-div button {
    width: 100%;
  }

  /* Ajuste de tamaño de la imagen para dispositivos móviles */
  .image-container img[src="01"] {
    width: 70%; /* Reducción del 70% del tamaño original */
  }
}
/* ----------------------------- */ 
